<h2> Course List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Course Id</th>
            <th> Name </th>
            <th> Price</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let course of course" >
            <td> {{ course.id }} </td>
            <td> {{ course.title }} </td>
            <td> {{ course.price }} </td>
            <td>
                <button (click) = "updateCourse(course.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteCourse(course.id)" class = "btn btn-danger"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="m-2">
    <button (click) = "backButton()" class = "btn btn-info"> Back </button>
    
</div>